/*common shared style*/
body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.text-primary{

    color: #FF5400;
    font-size: 36px;
    font-weight: 800;

}

nav{
    display: flex;
    justify-content: space-around;
}
.nav-title{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#424247 ;
}
.container {
   
    width: 1180px;
    height: 600px;
    position: relative;
}
.banner-text {
    position: absolute;
    top: 10%;
    left: 25%;
    right: 25%;
    color: #fff;
    padding: 10px;
    font-size: 16px;
}
.btn-primary1{
    background-color: tomato;
}
.features{
    margin-top: 20px;
    display: flex;
}
.features .section-title{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding-left: 20px;
}
.btn-secondary{
    border-radius: 8px;
    color: #fff;
    font-size: 1.25rem;
    background: #FF5400;
    padding: 15px 15px;
    border: 0;
}
.feature-img img{
    height: 90%;
    margin-left: 5%;
}
.place-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
   
}
.description{
    color: black;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.section-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.section-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}


.container{
    display: flex;
    column-gap: 50px;
    
    
}
.box1 {
    height: 300px;
    width: 600px;
    background-color: antiquewhite;
}
.box2{
    height:300px;
    width: 600px;
    background-color: aquamarine;
}
.box3{
    height:300px;
    width: 600px;
    background-color: pink;
    display: flex;

}




    
  
   
    
   



